h1, h2, h3, a {
  font-family: 'Source Sans Pro', sans-serif;
}



h1 {
  font-size: 42pt;
}

/*Mobile style*/
@media only screen and (max-width: 420px) {
  h1 {
   font-size: 30pt;
   }
}




h2 {
   font-size: 36pt;
   color: #606F1F;
}

/*Mobile style*/
@media only screen and (max-width: 420px) {
  h2 {
   font-size: 26pt;
   }
}



h3 {
  font-size: 30pt;
}

/*Mobile style*/
@media only screen and (max-width: 420px) {
  h3 {
   font-size: 22pt;
   }
}


a {
  text-decoration: none;
  font-size: 16px;
}

p, label {
  font-family: 'Open Sans', sans-serif;
}

p {
   font-size: 16pt;
}

form {
  display: inline;
}

body {
   margin: 0;
   overflow-x: hidden;
}

/*desktop style*/
@media only screen and (min-width: 421px) {
 button {
   height: 30px;
   width: 90px;
   padding: 5px, 10px;
   background-color: #93A415;
   border-radius: 5px;
   font-size: 14px;
   border: 0px;
   font-family: 'Source Sans Pro', sans-serif; 
   color: #fff;  
  }
}

/*Mobile style*/
@media only screen and (max-width: 420px) {
   button {
     height: 7vh;
     width: 35vh;
     background-color: #93A415;
     border-radius: 5px;
     font-size: 24px;
     border: 0px;
     font-family: 'Source Sans Pro', sans-serif; 
     color: #fff;       
  }
}


#page-wrapper {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}


#top {
  background-color: #fff;
  margin: 0 auto;
  width: 100vw;  
  height: 75px;  
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid #8E8C89;
  }

 
#left-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Mobile style*/
@media only screen and (max-width: 420px) {
  #left-top {
   width: auto;
   }
}


/*desktop style*/
@media only screen and (min-width: 421px) {
  #left-top {
   width: 300px;
 }
}

#header-img {
   height: 50px;
   width: auto;
}

/*desktop style*/
@media only screen and (min-width: 421px) {
  #header-img {
   margin-left: 50px;
  }
}

/*Mobile style*/
@media only screen and (max-width: 420px) {
  #header-img {
   margin-left: 5vw;
  }
}



/*Mobile style*/
@media only screen and (max-width: 420px) {
  #top-button {
   display: none;
   }
}


/*desktop style*/
@media only screen and (min-width: 421px) {
  #top-button {
   margin-left: 10px;
   }
}

/*right side links begin*/

/*desktop style*/
@media only screen and (min-width: 421px) {
  #navlist li {
   display: inline-block; 
   margin: 0, 15px; 
  }
}

/*Mobile style*/
@media only screen and (max-width: 420px) {
  #navlist li {
   display: inline-block; 
   margin-right: 7px;
  }
}

ul{
   list-style: none; 
}


/*desktop style*/
@media only screen and (min-width: 421px) {
 ul{
    list-style: none; 
    margin-right: 50px;
    white-space: nowrap;
    }
}

/*Mobile style*/
@media only screen and (max-width: 420px) {
  li a {
   color: #7C586A;
  }
}

/*desktop style*/
@media only screen and (min-width: 421px) {
  li a {
   color: #7C586A;
   margin-left: 12px;  
  }
}


/*right side links end*/


#mastercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

#container-one {
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 100px; 
}

/*Mobile style*/
@media only screen and (max-width: 420px) {
   .fullscreen-video-wrap {
     display: none;
    }
}  

/*desktop style*/
@media only screen and (min-width: 421px) {
 .fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -99;
 }

 .fullscreen-video-wrap video {
  min-height: 100%;
  min-width: 100%;
 }
}

/*Mobile style*/
@media only screen and (max-width: 420px) {
  #mobile-top-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      z-index: -99;
     }
}

/*desktop style*/
@media only screen and (min-width: 421px) {
   #mobile-top-bg {
     display: none;
   }
}

.header-overlay {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -98;
  background: #92A501;
  opacity:0.45;
}


/*Mobile style*/
@media only screen and (max-width: 420px) {
   #logo-main {
     height: auto;
     width: 55vw;
    }
}

/*desktop style*/
@media only screen and (min-width: 421px) {
   #logo-main {
     height: 55vh;
     width: auto;
    }
}

/*desktop style*/
@media only screen and (min-width: 421px) {
   #mobile-button {
      display: none;
    }
}
    

/*Mobile style*/
@media only screen and (max-width: 420px) {
  #mobile-button {
    height: 30px;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
   }
}


#headline {
  padding-top: 25px;
  text-align: center;
  z-index: 2;
} 

#what, #how, #price {
   color: #5A7B01;
} 
  
/*Mobile style*/
@media only screen and (max-width: 420px) {
    .subheadline {
      text-align: center;
     }
}

.orchid {
   width: 30vw;
   max-width: 450px;
   min-width: 300px;
   height: auto;
}

.content {
   text-align: left;
   height: 300px;
}

/*Mobile style*/
@media only screen and (max-width: 420px) {
    .content {
      width: 80vw;
     }
}


/*desktop style*/
@media only screen and (min-width: 421px) {
     .content {
       width: 35vw;
     }
}


.link-bg {
   background-color: #fff;
   width: 100vw;
   display: flex;
   flex-direction: row;
   justify-content: space-around;  
   align-items: center;
}

/*Mobile style*/
@media only screen and (max-width: 420px) {
   .link-bg {
     flex-direction: column;
     }
}

/*desktop style*/
@media only screen and (min-width: 421px) {
   .link-bg {
     height: 500px;
     }
}


/*Mobile style*/
@media only screen and (max-width: 420px) {
   #ttc2 {
     order: -1;
   }
}


/*desktop style*/
@media only screen and (min-width: 421px) {
  #ttc2 {
   order: 2;
  }
}

/*Mobile style*/
@media only screen and (max-width: 420px) {
   #content-two {
     order: 2;
    }
}


/*desktop style*/
@media only screen and (min-width: 421px) {
 #content-two {
   order: -1;
   }
}


/* reference 
#bottom {
    height: 500px;
    width: 100vw;
    background-color: #8E8C89;
    display: flex;
    justify-content: center;
    align-items: center;
   }
}
*/

/*Mobile style*/
@media only screen and (max-width: 420px) {
  #bottom {
    height: auto;
    width: 100vw;
    background-color: #C5D1C0;
    display: flex;
    justify-content: center;
    align-items: center;
   }
}

/*desktop style*/
@media only screen and (min-width: 421px) {
  #bottom {
    height: 300px;
    width: 100vw;
    background-color: #C5D1C0;
    display: flex;
    justify-content: center;
    align-items: center;
   }
}

/*Mobile style*/
@media only screen and (max-width: 420px) {
   #email-submit {
     padding: 15px 0px;
     width: 90vw;
     height: 300px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
    }
}


.label {
   display: block;
   text-align: center;
   width: 70vw;
}
  
.input {
    display: block;
    align-self: center;
    display: block;
    width: 150px;
}

#email-input {
    text-align: center;
    margin: 20px;
}

#bottom-button {
    text-align: center;
}