
h1, h2, h3, a {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 42pt;
}

h2 {
   font-size: 36pt;
}

h3 {
  font-size: 30pt;
}

a {
  text-decoration: none;
}

p, label {
  font-family: 'Open Sans', sans-serif;
}

p {
   font-size: 16pt;
}

form {
  display: inline;
}

body {
   margin: 0;
   overflow-x: hidden;
}

button {
   height: 30px;
   width: auto;
   padding: 5px, 10px;
   background-color: #93A415;
   border-radius: 5px;
   font-size: 14px;
   border: 0px;
   font-family: 'Source Sans Pro', sans-serif; 
   color: #fff;  
}


#page-wrapper {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}


#top {
  background-color: #fff;
  margin: 0 auto;
  width: 100vw;  
  height: 75px;  
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid #8E8C89;
  }

     

#navlist li {
  display: inline-block; 
  margin: 0, 15px; 
  
}

ul{
   list-style: none; 
   margin-right: 50px;
   white-space: nowrap;
}

li a {
  color: #7C586A;
  margin-left: 12px;  
  
}

#header-img {
  margin-left: 50px;
}

#left-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
 
}

#top-button {
  margin-left: 10px;
}



#mastercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  margin-top: 75px;
}

#container-one {
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

#top-greeting {
   flex-basis: 50vw;
   text-align: center;
   color: #fff;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -99;
}

.fullscreen-video-wrap video {
  min-height: 100%;
  min-width: 100%;
}

.header-overlay {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -98;
  background: #92A501;
  opacity:0.45;
}



#headline {
  padding-top: 25px;
  text-align: center;
  z-index: 2;
} 

#what, #how, #price {
   color: #5A7B01;
} 
  
/*Mobile style*/
@media only screen and (max-width: 400px) {
    .subheadline {
      text-align: center;
     }
}

.orchid {
   width: 30vw;
   min-width: 300px;
   height: auto;
}

/*Mobile style*/
@media only screen and (max-width: 400px) {
    .content:
      width: 80vw;
     }
}


/*desktop style*/
@media only screen and (min-width: 401px) {
    .content {
     width: 45vw;
     }
}

#container-two {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  overflow: hidden;
}


#link-one-bg {
   background-color: #fff;
   width: 100vw;
   display: flex;
   justify-content: space-around;  
   align-items: center;
}

/*Mobile style*/
@media only screen and (max-width: 400px) {
   #link-one-bg {
     flex-direction: column;
     }
}

/*desktop style*/
@media only screen and (min-width: 401px) {
   #link-one-bg {
     height: 500px;
     }
}



#link-two-bg {
   background-color: #fff;
   width: 100vw;
   display: flex;
   justify-content: space-around;  
   align-items: center;
}

/*Mobile style*/
@media only screen and (max-width: 400px) {
 #link-two-bg  {
   flex-direction: column;
     }
}


/*desktop style*/
@media only screen and (min-width: 401px) {
 #link-two-bg {  
   height: 500px;
    }
}


/*Mobile style*/
@media only screen and (max-width: 400px) {
   #ttc2 {
     order: -1;
   }
}


/*desktop style*/
@media only screen and (min-width: 401px) {
  #ttc2 {
   order: 2;
  }
}

/*Mobile style*/
@media only screen and (max-width: 400px) {
   #content-two {
     text-align: left;
     order: 2;
    }
}


/*desktop style*/
@media only screen and (min-width: 401px) {
 #content-two {
   order: -1;
   }
}


#link-three-bg {
   background-color: #fff;
   width: 100vw;
   display: flex;
   justify-content: space-around;  
   align-items: center;
}

/*Mobile style*/
@media only screen and (max-width: 400px) {
    #link-three-bg {
      flex-direction: column;
     }
}

/*desktop style*/
@media only screen and (min-width: 401px) {
    #link-three-bg {
     height: 500px;
     }
}



#content-three {
   width: 45vw;
}


#content-four {
   height: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #C5D1C0;
}



#email-submit {
   display: flex;
   width: 55vw;
   flex-wrap: wrap;
   justify-content: center;
}


#label {
   text-align: center;
}

